:root{
    --main-color: #148ac0;
    --text-color:#101314;
}
*{
margin: 0px;
padding: 0px;
}
body{
    background-color: rgb(238, 238, 238);
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4{
    font-family: 'Festive', cursive;
}
header{
    width: 100%;
    height: 70px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
}
header #logo{
    margin: 10px;
    margin-left: 10px;
    width: 200px;
    
}
header nav{
    margin: 10px;
    margin-right: 10px;
    width: 500px;
   
}
header nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    margin-top: 5px;
    padding: 5px;
    transform: 0.5s ease-in all;
}
header nav ul li a{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--text-color);
}
header nav ul li:hover{
    opacity: 0.8;
    background-color: white;
   border-radius: 5px;
}
header nav ul li a:hover{
    color: var(--main-color);
}
section#main{
    background-color: black;
    height: 100vh;
    overflow: hidden;
}
#main video{
    min-width: 100%;
    min-height: 100%;
}
#main #overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    /*background-image: url(../img/Patron.png);*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  /*  opacity: 0.2;*/

    }
#main #overlay h2{
        margin-top: 225px;
        color: white;
        text-align: center;
        font-size: 6rem;
}
#main #overlay h3{
        color: white;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
}
.btn{
        width: 180px;
        height: 50px;
        border: none;
        border-radius: 4px;
        padding: 8px;
        font-size: 1rem;
        font-weight: lighter;
        padding-left: 10px;
        padding-right: 10px;
 }
.btnprimary{
        background-color: var(--main-color);
        color: white;
        text-transform: uppercase;
}
a.btn{
        text-decoration: none;

}
#about, #contacto{
        width: 85%;
        height: 700px;
        padding-left: 5%;
        padding-right: 5%;
}
#about .col, #conrtacto .col{
    float: left;
    width: 50%;
}
#about > h2{
 text-align: center;
 font-size: 3rem;
 padding-top: 30;
 font-family: 'Open Sans', sans-serif;
}
#about > .col > h2{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter; 
}
#about .col img{
    width: 70%;
    display: block;
    margin: 20px auto;
}
#about .col p{
    margin-top: 50px;
}
#proyectos{
    width: 85%;
    height: 500px;
    padding-left: 5%;
    padding-right: 5%;
}
 #proyectos >h2{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; 
}
#proyectos .sitio{
    background-color:white;
    width: 22%;
    height: 300px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
    border-radius:20px;
}

.sitio img{
    width:100%;
    border-radius: 21px 21px 0px 0px;
}
#proyectos .sitio > h3{
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;

}
.btn1{
    width: 150px;
    height: 25px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 1rem;
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 55px;
    margin-right: 20px;
    
    
  

}
.btnSecondary{
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
}
a.btn1{
    text-decoration: none;

}
#imagen{
    
    width: 100%;
    height: 200px;
    
}
#imagen .hack{
    width: 25%;
    height: 200px;
    display:initial;
    margin-left: 6px;
    margin-right: 5px;
    
    
   
}
.hack img{
    width: 49%;
    height: 200px;
}
#contacto, #formularioymap{
    width: 85%;
    height: 700px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
#contacto .formularioymap{
float: left;
width: 50%;
}
#contacto .formularioymap > h2{
text-align: center;
font-size: 3rem;
padding-top: 30;
font-family: 'Open Sans', sans-serif;
}
#contacto > .formularioymap > h2{
font-size: 2rem;
font-family: 'Open Sans', sans-serif;
font-weight: lighter;
}
#inf{
    width: 100%;
    height: 30px;
  
}
#inf .in{
    width: 100%;
    height: 30px;
    background-color: black;
    margin-left: 6px;
    margin-right: 6px;
}
#inf >.in h3{
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
}